@font-face {
  font-family: "Geometria";
  src: url("//www.yanncouvreur.com/cdn/shop/t/24/assets/geometria-medium.woff2?v=116869654503480791641732718647")
  format("woff2"),
   url("//www.yanncouvreur.com/cdn/shop/t/24/assets/geometria-medium.woff?v=181222075370192028761732718647")
	  format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
	font-family: "Geometria";
	src: url("//www.yanncouvreur.com/cdn/shop/t/24/assets/geometria.woff2?v=123308363607325114521732718647")
	format("woff2"),
	url("//www.yanncouvreur.com/cdn/shop/t/24/assets/geometria.woff?v=113409407844151830851732718647")
	  format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Geometria";
  src: url("//www.yanncouvreur.com/cdn/shop/t/24/assets/geometria-light.woff2?v=180229507090383176361732718647")
	  format("woff2"),
	url("//www.yanncouvreur.com/cdn/shop/t/24/assets/geometria-light.woff?v=4266670418006190371732718647")
	  format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Geometria";
  src: url("//www.yanncouvreur.com/cdn/shop/t/24/assets/geometria-bold.woff2?v=47461760191677304371732718647")
	  format("woff2"),
	url("//www.yanncouvreur.com/cdn/shop/t/24/assets/geometria-bold.woff?v=49821349628300905451732718647")
	  format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(109, 72, 51);
}


body {
  font-family: "Geometria", sans-serif;
  width: 100%;
  height: 100vh;
  background: url("./banner.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-bottom: 2px solid white;
}

header img {
  width: 20%;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px 20px;
  transition: 0.3s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
}

a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);  
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  background-color: white;
  visibility: visible;
}

a:hover::after {
  transform: translateX(-50%) scaleX(1);
  width: 100%; 
}

.main-info {
  position: relative;
  width: 100%;
  height: 90vh;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0px;
  padding: 60px 80px;
  background-color: rgb(247, 243, 233);
  color: rgb(109, 72, 51);
}

.info button {
  outline: none;
  border: none;
  padding: 20px;
  background-color: rgba(3, 196, 255, 0.5);
  backdrop-filter: blur(15px);
  color: white;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.info button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background-color: rgb(109, 72, 51);
  visibility: hidden;
  transform: scaleY(0);
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.info button:hover::after {
  visibility: visible;
  top: 0;
  transform: scaleY(1);
}

.info h2 {
  color: rgb(109, 72, 51);
  font-size: 62px;
}

.info span {
  padding-left: 2px;
  font-weight: 500;
}

.icon {
  transition: none;
  font-size: 18px;
  transition: 0.5s ease;
}

.icon::after {
  content: "";
  display: none;
}

.icon:hover {
  scale: 1.2;
}

.about-us {
  	display: flex;
	flex-direction: column;
  color: var(--text-color);
  margin: 60px 0px 0px 0px;
}

.about-us h2 {
  width: 20%;
}

.about-us p {
  width: 40%;
  font-weight: 500;
  font-size: 12px;
  margin-top: 30px;
}

.about-info {
	display: flex;
	align-items: center;
	justify-content: center;
  margin-bottom: 60px;
}

.about-us video {
  width: 100%;
  margin-top: 30px;
}


.business-info {
  background-color: rgb(184, 205, 196);
  display: flex;
  justify-content: space-evenly;
  padding: 90px 0px;
  color: white;
  border-bottom: 2px solid white;
}

.business-info p {
  margin: 10px 0px;
}

.business-info span {
  font-size: 16px;
  text-align: center;
  margin: auto;
  color: rgba(255, 255, 255, 0.8);
}

.business-info i {
  color: white;
  font-size: 30px;
}

.business-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer{
  	background-color:  rgb(247, 243, 233);
  	padding:30px 0px;
  	text-align:center;
}
  
.footer .row{
  	width:100%;
  	margin:1% 0%;
  	padding:0.6% 0%;
  	color:gray;
  	font-size:0.8em;
}

.footer .row a::after {
    background-color: var(--text-color);
}
  
.footer .row a{
	text-decoration:none;
	color: var(--text-color);
}
  
.footer .row ul{
	width:100%;
}
  
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
  
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
  }

.footer .copyright {
	font-size: 20px;
  color: var(--text-color);
}
  
@media (max-width:720px) {
    

    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row ul li {
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i {
        margin:0% 3%;
    }
  }